aiofiles==24.1.0 #https://github.com/Tinche/aiofiles
django==5.1.5 #https://github.com/django/django
django-environ==0.12.0  #https://github.com/joke2k/django-environ
django-stubs[compatible-mypy] #https://github.com/typeddjango/django-stubs
environs==14.1.1
loguru==0.7.3 #https://github.com/Delgan/loguru
pre-commit==4.1.0 #https://github.com/pre-commit/pre-commit
psycopg2-binary==2.9.10   # https://github.com/psycopg/psycopg2
pyotp==2.9.0 #https://pypi.org/project/pyotp/
pytest-cov==6.0.0 #https://github.com/pytest-dev/pytest-cov
pytest-django==4.9.0
pytest-html==4.1.1  #https://github.com/pytest-dev/pytest-html
pytest-sugar==1.0.0  # https://github.com/Frozenball/pytest-sugar
qrcode[pil]==8.0  #https://github.com/lincolnloop/python-qrcode
requests==2.32.3 #https://github.com/psf/requests
telethon==1.38.1 #https://github.com/LonamiWebs/Telethon
watchdog==6.0.0 #https://github.com/gorakhargosh/watchdog
